.bg2{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('https://ak3.picdn.net/shutterstock/videos/6284543/thumb/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    background-attachment: fixed;
}